# Build and Release Folders
bin-debug/
bin-release/
[Oo]bj/
[Bb]in/

# Other files and folders
.settings/
src/pcap to hdf5/__pycache__/*.*
.vscode/*.*

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
.vscode/ipch/ed2139aac02405ab/MAIN.ipch
src/pcap_to_feature/__pycache__/Device.cpython-37.pyc
src/ANN_model/__pycache__/k_utils.cpython-37.pyc
